@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap");

:root {
  --main-color: #12152b;
  --coding-green: #62ffd9;
  --main-font: "Work sans";
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  min-height: calc(100vh - 200px);
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

span.copyright {
  font-family: "Work sans";
  font-weight: 400;
  text-align: center;
}

header a {
  font-family: "Work sans";
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: white;
}

span.copyright a {
  color: var(--coding-green);
}
