@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: bisque;
  font-family: "Work sans";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  gap: 100px;
  text-align: center;
}

main {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

span.java {
  background-color: #ffe941;
  padding: 0 7px;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

.main-buttons a {
  height: 40px;
  padding: 0 40px;
  background-color: #ffe941;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.296);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.main-buttons .button:hover {
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

.description {
  bottom: 0;
  background-color: lightgray;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.description p {
  padding: 15px;
  text-align: left;
  width: 100%;
}

.button:hover .description {
  max-height: 500px;
  transition: 1s;
}
