@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("/general.css");
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: 700;
}

.qr-code {
  width: clamp(250px, 50%, 300px);
  background-color: var(--white);
  padding: 15px;
  border-radius: 5%;
}

.qr-code__image img {
  width: 100%;
  border-radius: 5%;
}

.qr-code__text {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  margin-bottom: auto;
}

footer {
  margin-top: auto;
}
